<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!--/*@thymesVar id="employee" type="org.example.ss8_bai2.dto.EmployeeDto"*/-->
<head>
    <meta charset="UTF-8">
    <title>Thêm nhân viên</title>
</head>
<body>

<h1>Thêm nhân viên</h1>

<form th:action="@{/hr/add-employee}" th:object="${employee}" method="post">
    <div>
        <label>Tuổi:</label>
        <input type="number" th:field="*{age}" />
        <p th:if="${#fields.hasErrors('age')}"
           th:errors="*{age}"
           style="color: red;">
        </p>
    </div>
    <br>
    <div>
        <label>Email:</label>
        <input type="text" th:field="*{email}" />
        <p th:if="${#fields.hasErrors('email')}"
           th:errors="*{email}"
           style="color: red;">
        </p>
    </div>
    <br>
    <button type="submit">Thêm nhân viên</button>
</form>

</body>
</html>